@import '~bootstrap/scss/bootstrap';

h1{
  text-align: center;
}

h2{
  text-align: center;
}

.square {
border: solid black 1px;
font-size: 5vw;
background: #6AB187;
text-align: center;
color: black;
height: 100px;
width: 100px;
}

.mess {
  text-align: center;
  width: 100%;
  font-size: 36px;
  font-weight: bold;
  color: purple;
}

.up{
text-align: center;
width: 100%;
font-size: 24px;
}

.login{
text-align: center;
width: 100%;
font-size: 24px;
}

.change{
text-align: center;
width: 100%;
font-size: 24px;
}

.out{
text-align: center;
width: 100%;
font-size: 24px;
}
