@import '~bootstrap/scss/bootstrap';

h1{
  text-align: center;
}

h2{
  text-align: center;
}

body {
  background-color: lightgray;
}

.sub {
  background-color: red;
  border-radius: 60%;
}

.gameStats, .newGame, .gameboard1, .signingOut, .passwordChange {
  display: none;
}


.square {
border: solid lightgray 5px;
font-size: 5vw;
background: #6AB187;
text-align: center;
color: black;
height: 100px;
width: 100px;
}

.mess {
  text-align: center;
  width: 100%;
  font-size: 36px;
  font-weight: bold;
  color: purple;
}

.up{
text-align: center;
width: 100%;
font-size: 24px;
}

.login{
text-align: center;
width: 100%;
font-size: 24px;
}

.change{
text-align: center;
width: 100%;
font-size: 24px;
}

.out{
text-align: center;
width: 100%;
font-size: 24px;
}

#numberOfGames {
  text-align: center;
  width: 100%;
  font-size: 24px;
}
