@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');

h1{
  text-align: center;
  color: rgb(255, 255, 234);
}


body {
  background-color: rgb(207, 241, 255);
  font-family: 'Shadows Into Light', cursive;
}


.sub {
  color: white;
  background-color: black;
  border-radius: 60%;
}

.gameStats, .newGame, .gameboard1, .signingOut, .passwordChange {
  display: none;
}


.square {
border: solid rgb(207, 241, 255) 5px;
font-size: 5vw;
background-color: rgba(225, 255, 255, 1);
text-align: center;
color: black;
height: 150px;
width: 150px;
}

.tic-zero {
  background-color: rgba(255, 182, 138, .8);
}

.tic-one {
  background-color: rgba(28, 255, 188, .8);
}

.tic-two {
  background-color: rgba(255, 244, 178, .8)
}

.tic-three {
  background-color: rgba(255, 203, 234, .8);
}

.tic-four {
  background-color: rgba(178, 191, 255, .8);
}

.tic-five {
  background-color: rgba(221, 255, 203, .8);
}

.tic-six {
background-color: rgba(255, 241, 222, .8);
}

.tic-eight {
background-color: rgba(232, 190, 255, .8);
}

.mess {
  text-align: center;
  width: 100%;
  font-size: 36px;
  font-weight: bold;
  color: purple;
}

.up, .login, .change, .out, #numberOfGames{
text-align: center;
width: 100%;
font-size: 24px;
}
